<link href="~/css/navbar.css" rel="stylesheet" />
<div class="container">
    <div class="jumbotron">
        <h1>Sample Page</h1>
        <div style="float:left">
            <p>hogehoge</p>
        </div>
        <div style="float:left">
            <p>hogehoge</p>
        </div>
        <div style="float:left">
            <p>hogehoge</p>
        </div>
        <br />
        <p>
            <a href="components/#navbar" class="btn btn-lg btn-primary" role="button">View</a>
        </p>
    </div>
</div>
@*<div class="container">
        <form></form>
    </div>*@
