<link href="~/css/navbar.css" rel="stylesheet" />
<style>
    body {
        min-height: inherit;
    }
</style>
<div class="container">
    <div class="jumbotron">
        <div style="background-color:#ffffff; margin:0">
            <img style="display:block; margin-left:auto; margin-right: auto; max-height: 80%; max-width:90%;" src="~/Image/background/JP_5-11-2013.jpg" />
        </div>
        <div style="background-color:#ffd800; margin: 0">
            <h1>infomation</h1>
        </div>
</div>
@*<div class="container">
        <form></form>
    </div>*@
