@{
    ViewBag.Title = "MyEvents";
}

<link href="~/css/navbar.css" rel="stylesheet" />

<div class="container">
    <div class="jumbotron btn-primary">
        <h2>MyEvents</h2>
    </div>

    <div class="jumbotron">
        <h2>詳細</h2>
        <table class="table">
            <tr>
                <td><center>日時</center></td>
                <td><center>会場</center></td>
                <td><center>内容</center></td>
                <td><center>特記事項</center></td>
                <td><center>URL</center></td>
            </tr>
            
            <tr class="btn-primary">
                <td><center>2013/11/09</center></td>
                <td>長野高専</td>
                <td>SignalR勉強会</td>
                <td>-</td>
                <td>http://hoge.com</td>
            </tr>
        </table>
    </div>
    
</div>

