@{
    ViewBag.Title = "MyEvents";
}

<link href="~/css/navbar.css" rel="stylesheet" />

<div class="container">
    <div class="jumbotron">
        <h2>MyEvents</h2>
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-6">
            <button type="button" class="btn btn-primary">参加予定</button>
            <button type="button" class="btn btn-primary">以前のイベント</button>
            <button type="button" class="btn btn-primary">追加と削除</button>
        </div>
        <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">カラム2</div>
        <div class="col-xs-2 col-sm-4 col-md-6 col-lg-2">カラム3</div>
    </div>
    @*<div class="jumbotron">
        <h2>MyEvents</h2>
        <div class="btn btn-primary">
            <h2>参加予定</h2>
        </div>
        <div class="btn btn-primary">
            <h2>以前のイベント</h2>
        </div>
        <div class="btn btn-primary">
            <h2>追加と削除</h2>
        </div>
        <div style="float:right">
            <h1>参加予定</h1>
        </div>
    </div>*@

    <div class="jumbotron">
        <h2>詳細</h2>
        <table class="table">
            <tr>
                <td><center>日時</center></td>
                <td><center>会場</center></td>
                <td><center>内容</center></td>
                <td><center>特記事項</center></td>
                <td><center>URL</center></td>
            </tr>
            
            <tr class="btn-primary" >
                <td><center>2013/11/09</center></td>
                <td><center>NNCT</center></td>
                <td><center>SignalR</center></td>
                <td><center>-</center></td>
                <td><center>http://hoge.com</center></td>
            </tr>
        </table>
    </div>
</div>