@{
    ViewBag.Title = "MyEvents";
    ViewBag.State = "参加予定";
}



<link href="~/css/navbar.css" rel="stylesheet" />

<script type="text/javascript">
    function hello() {
        alert("hoge");
    }
    function changeMode(st) {
        document.getElementById("state").innerHTML = st;
        if (st == "参加予定") {
            //参加予定のテーブルからデータ引っ張る
            alert("hoge");
            var table = document.getElementById("event");
            var row = table.insertRow(table.rows.length);
            var td = row.insertCell(row.cells.length);
        }
        else {
            //以前参加したテーブルから引っ張る
            var table = document.getElementById("event");
            var row = table.insertRow(table.rows.length);
            var cel1 = row.insertCell(0);
            cel1.setAttribute("hoge", "huga", "hoge", "hugahuga", "foobar");
            
        }
    }
</script>

<div class="container">
    <div class="jumbotron">
        <div class="col-md-6">
            <h1>MyEvents</h1>
        </div>
        <div class="col-md-6">
            <h1 id="state">@ViewBag.State</h1>
        </div>
        <div>
            <button type="button" class="btn btn-primary" onclick="changeMode('参加予定')">参加予定</button>
            <button type="button" class="btn btn-primary" onclick="changeMode('以前のイベント');">以前のイベント</button>
            <button type="button" class="btn btn-primary" >追加と削除</button>
        </div>
        <hr style="border-top-color:#000000" />
        <h2>詳細</h2>
        <table class="table" id="event">
            <tr>
                <td><center>日時</center></td>
                <td><center>会場</center></td>
                <td><center>内容</center></td>
                <td><center>特記事項</center></td>
                <td><center>URL</center></td>
            </tr>

            <tr>
                <td><center>2013/11/09</center></td>
                <td><center>NNCT</center></td>
                <td><center>SignalR</center></td>
                <td><center>-</center></td>
                <td><center><input type="button" class="btn btn-primary" value="hoge" onclick="location.href = 'http://www.yahoo.co.jp/'" /></center></td>
            </tr>
        </table>
    </div>
</div>