@{
    ViewBag.Title = "MyEvents";
    ViewBag.State = "参加予定";
}



<link href="~/css/navbar.css" rel="stylesheet" />

<script type="text/javascript">
    function hello(Value) {
        alert("hoge");
    }
</script>

<div class="container">
    <div class="jumbotron">
        <div class="col-md-6">
            <h1>MyEvents</h1>
        </div>
        <div class="col-md-6">
            <h1>@ViewBag.State</h1>
        </div>
        <div>
            <button type="button" class="btn btn-primary" onclick="hello(Value)">参加予定</button>
            <button type="button" class="btn btn-primary">以前のイベント</button>
            <button type="button" class="btn btn-primary">追加と削除</button>
        </div>
        <hr style="border-top-color:#000000" />
        <h2>詳細</h2>
        <table class="table">
            <tr>
                <td><center>日時</center></td>
                <td><center>会場</center></td>
                <td><center>内容</center></td>
                <td><center>特記事項</center></td>
                <td><center>URL</center></td>
            </tr>

            <tr>
                <td><center>2013/11/09</center></td>
                <td><center>NNCT</center></td>
                <td><center>SignalR</center></td>
                <td><center>-</center></td>
                <td><center><input type="button" class="btn btn-primary" value="hoge" onclick="location.href = 'http://www.yahoo.co.jp/'" /></center></td>
                @*<td><center><button class="btn btn-primary">http://hoge.com</button></center></td>*@
            </tr>
        </table>
    </div>
</div>