body {
/*padding: 30px;*/
min-height: 2000px;
padding-top: 70px;
}

li:hover {
    color:#FFFFFF;
	background:#A9A9A9;
    
}
    li:hover ul {
        display:block;
    }

.hover{
	color:#FFFFFF;
	background:#A9A9A9;
}